<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Travlr Getaways Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header page="index"}}
			<div id="contents">
				<div id="main">
					<div class="box">
						<div>
							<div>
								<h3>Latest Blog</h3>
								<ul>
			{{#each blogs}}
									<li>
										<h4><a href="/api/blogs/{{this.code}}">{{this.title}}</a></h4>
										<span>{{this.date}}</span>
										{{{this.content}}}
									</li>
			{{/each}}
								</ul>
							</div>
						</div>
					</div>
					<div id="testimonials" class="box">
						<div>
							<div>
								<h3>Testimonials</h3>
			{{#each testimonials}}
								<p>{{this.content}}<span>- <a href="/api/testimonials/{{this.code}}">{{this.author}}</a></span></p>
			{{/each}}
							</div>
						</div>
					</div>
				</div>
				<div id="sidebar">
			{{#each pages}}
					<div class="section">
						<a href={{this.link}}><img src="images/{{this.image}}" alt="Img"></a>
					</div>
			{{/each}}
				</div>
			</div>
		</div>
		{{> footer page="index"}}
	</div>
</body>
</html>